{% extends 'base.html' %}
{% block title %} Note Keeper {% endblock %}
{% block body %}
    <main>
        <div class="container py-2">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5 mb-2">
                    <h1 class="display-5 fw-bold"> 
                        Title 
                    </h1>
                    <p class="col-md-6 fs-4 mb-4"> This is the note body </p>
                </div>
                <div class="float-end">
                    <button class="btn btn-link">Add Note</button>
                </div>

            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        Category
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        Latest Action
                    </div>
                </div>
            </div>

            <div class="container mt-4">
                <h2 class="display-6 fw-bold">Recent Notes</h2>
                <hr />
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container p-2">
                <em>Due to insufficient memory and storage, we only allow for maximum of 20 notes per account</em>
            </div>

        {% endblock %}
